[submodule "handyv-backend"]
	path = handyv-backend
	url = https://github.com/IjjS/handyv-backend.git
[submodule "handyv-frontend"]
	path = handyv-frontend
	url = https://github.com/IjjS/handyv-frontend
